<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Guillaume BERTRAND personnal, professional and school projects.">
    <meta name="keywords" content="Guillaume BERTRAND projects arduino raspberrypi electronics software website">
    <meta name="author" content="Guillaume BERTRAND">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= __('page_title')%></title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-84799910-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-84799910-2');
    </script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <!--<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>-->

</head>
<body>
<nav class="amber accent-4">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><%= __('projects')%></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="https://services.bertrandguillaume.fr"><%= __('services')%></a></li>
            <li><a href="https://cv.bertrandguillaume.fr/CV/<%= __('cv_link')%>"><%= __('cv')%></a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row center">
        <p class="flow-text blue lighten-4 center"><%= __('page_description')%></p>
    </div>
    <div class="row">
        <div class="col s12 cards-container">
            <div class="card grey darken-3">
                <div id="fgubox-logo" class="card-image">
                    <img src="https://www.bcc.lu/?page=CiviCRM&q=civicrm%2Fcontact%2Fimagefile&photo=POST_Logotype_002_9d9b35195384d7bc3aa2753740a9f040.jpg">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('post_lu.title')%></span>
                    <p><%= __('post_lu.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://www.post.lu/en/particuliers"><%= __('post_lu.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div id="fgubox-logo" class="card-image">
                    <img src="https://fgubox.fr/wp-content/uploads/2019/12/cropped-fgubox-logobg.png">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('fgubox.title')%></span>
                    <p><%= __('fgubox.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://www.fgubox.com/"><%= __('fgubox.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div id="seloger-logo" class="card-image">
                    <img src="https://www.immo-pop.com/media/cache/news_big/uploads/media/news/0001/01/cab24f6d5b4a8616d2aec6fdd0ae497e7032fc5e.png">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('seloger.title')%></span>
                    <p><%= __('seloger.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://www.seloger.com/"><%= __('seloger.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div id="sgcib-logo" class="card-image">
                    <img src="https://www.societegenerale.com/themes/custom/sg_refonte/assets/images/logos/logo-fr.svg">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('sgcib.title')%></span>
                    <p><%= __('sgcib.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://wholesale.banking.societegenerale.com/en/solutions-services/investment-banking/"><%= __('sgcib.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div id="areas-logo" class="card-image">
                    <img src="https://www.areas.fr/medias/images/logo_areas_assurances_vectoriel.svg?v=90">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('areas_insurances.title')%></span>
                    <p><%= __('areas_insurances.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://www.areas.fr/"><%= __('areas_insurances.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div class="card-image">
                    <img src="./img/RTT_LOGO_BLEU2.png">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('russian_tech_tour.title')%></span>
                    <p><%= __('russian_tech_tour.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://russiantechtour.bertrandguillaume.fr"><%= __('russian_tech_tour.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div class="card-content white-text">
                    <span class="card-title"><%= __('e2e_automation_tool.title')%></span>
                    <p><%= __('e2e_automation_tool.description')%></p>
                </div>
                <div class="card-action">
                    <a href="http://cryptoinvestapp.com/"><%= __('e2e_automation_tool.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div class="card-image">
                    <img src="./img/market_cryptoapp3.jpg">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('crypto_invest_app_website.title')%></span>
                    <p><%= __('crypto_invest_app_website.description')%></p>
                </div>
                <div class="card-action">
                    <a href="http://cryptoinvestapp.com/"><%= __('crypto_invest_app_website.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div class="card-image">
                    <img src="./img/currencies.png" style="background: white">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('fph_consulting_website.title')%></span>
                    <p><%= __('fph_consulting_website.description')%></p>
                </div>
                <div class="card-action">
                    <a href="http://fph-consulting.com/"><%= __('fph_consulting_website.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div class="card-content white-text">
                    <div class="card-image">
                        <img src="./img/raspberrypi3.jpg">
                    </div>
                    <span class="card-title"><%= __('raspberry_pi_game.title')%></span>
                    <p><%= __('raspberry_pi_game.description')%></p>
                </div>
                <div class="card-action">
                    <a href="#"><%= __('raspberry_pi_game.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div class="card-content white-text">
                    <span class="card-title"><%= __('laravel_web_application.title')%></span>
                    <p><%= __('laravel_web_application.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://eeigm.univ-lorraine.fr/"><%= __('laravel_web_application.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div class="card-image">
                    <img src="./img/ticket-to-ride2.jpeg">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('ticket_to_ride.title')%></span>
                    <p><%= __('ticket_to_ride.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://github.com/fubrasp/aventuriers-du-rail-autour-du-monde-bertrand-bouchebti-hermal-muller"><%= __('ticket_to_ride.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div class="card-content white-text">
                    <div class="card-image">
                        <img src="./img/twitterbot2.png">
                    </div>
                    <span class="card-title"><%= __('twitter_crypto_bot.title')%></span>
                    <p><%= __('twitter_crypto_bot.description')%></p>
                </div>
                <div class="card-action">
                    <a href="#"><%= __('twitter_crypto_bot.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div class="card-image">
                    <img src="./img/course2.gif">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('crypto_monitor.title')%></span>
                    <p><%= __('crypto_monitor.description')%></p>
                </div>
                <div class="card-action">
                    <a href="#"><%= __('crypto_monitor.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div class="card-image">
                    <img src="./img/big-data-chicago.png">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('big_data_project.title')%></span>
                    <p><%= __('big_data_project.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://github.com/fubrasp/projet-big-data"><%= __('big_data_project.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div class="card-image">
                    <img src="./img/video_wall.jpg">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('video_wall.title')%></span>
                    <p><%= __('video_wall.description')%></p>
                </div>
                <div class="card-action">
                    <a href="#"><%= __('video_wall.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div class="card-image">
                    <img src="./img/plane_indicators.png">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('plane_indicators.title')%></span>
                    <p><%= __('plane_indicators.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://www.youtube.com/watch?v=4rrdQVMGeQE"><%= __('plane_indicators.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div id="nao-logo" class="card-image">
                    <img src="https://www.softbankrobotics.com/emea/sites/default/files/images-content/SoftBank-Robotics-NAO_0.png">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('nao.title')%></span>
                    <p><%= __('nao.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://services.bertrandguillaume.fr"><%= __('nao.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div id="nao-logo" class="card-image">
                    <img src="https://raw.githubusercontent.com/fubrasp/puissance4Like/master/puissance4_board_example.png">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('puissance_four.title')%></span>
                    <p><%= __('puissance_four.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://github.com/fubrasp/puissance4Like"><%= __('puissance_four.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div id="nao-logo" class="card-image">
                    <img src="https://raw.githubusercontent.com/fubrasp/tic-tac-toe/master/images/board_example.png">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('morpion.title')%></span>
                    <p><%= __('morpion.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://github.com/fubrasp/tic-tac-toe"><%= __('morpion.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div id="nao-logo" class="card-image">
                    <img src="https://media.istockphoto.com/photos/two-dices-picture-id183819034?s=612x612">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('dedal.title')%></span>
                    <p><%= __('dedal.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://github.com/Khaloudinho/dedal-project"><%= __('dedal.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div id="nao-logo" class="card-image">
                    <img src="https://media.istockphoto.com/photos/the-concept-of-the-human-brain-education-science-and-medical-concept-picture-id1129860760?s=612x612">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('memory.title')%></span>
                    <p><%= __('memory.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://www.softbankrobotics.com/emea/en/nao"><%= __('memory.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div id="nao-logo" class="card-image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Conways_game_of_life_breeder.png">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('game_of_life.title')%></span>
                    <p><%= __('game_of_life.description')%></p>
                </div>
                <div class="card-action">
                    <a href="#"><%= __('game_of_life.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div id="nao-logo" class="card-image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Xamarin-logo.svg">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('xamarin_app.title')%></span>
                    <p><%= __('xamarin_app.description')%></p>
                </div>
                <div class="card-action">
                    <a href="#"><%= __('xamarin_app.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div id="nao-logo" class="card-image">
                    <img src="https://media.istockphoto.com/photos/-picture-id889968488">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('psa_skills_software.title')%></span>
                    <p><%= __('psa_skills_software.description')%></p>
                </div>
                <div class="card-action">
                    <a href="#"><%= __('psa_skills_software.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div id="nao-logo" class="card-image">
                    <img src="https://media.istockphoto.com/photos/teaching-students-during-isolation-period-picture-id1215481862?s=612x612">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('services_courses.title')%></span>
                    <p><%= __('services_courses.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://services.bertrandguillaume.fr"><%= __('services_courses.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div id="nao-logo" class="card-image">
                    <img src="https://www.asus.com/microsite/2013/mb/home_entertainment/Image/mb.gif">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('services_repair.title')%></span>
                    <p><%= __('services_repair.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://services.bertrandguillaume.fr"><%= __('services_repair.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div id="nao-logo" class="card-image">
                    <img src="https://www.hootcommerce.com/wp-content/uploads/2021/04/Magento-vs-Shopify-vs-WooCommerce.jpg">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('services_ecommerce.title')%></span>
                    <p><%= __('services_ecommerce.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://services.bertrandguillaume.fr"><%= __('services_ecommerce.title')%></a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer amber accent-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text"><%= __('about_me')%></h5>
                <p class="grey-text text-lighten-4"><%= __('contact_sentence')%></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text"><%= __('links')%></h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="<%= __('linked_in')%>">LinkedIn</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://bertrandguillaume.fr"><%= __('services')%></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://blog.bertrandguillaume.fr"><%= __('blog')%></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://twitter.com/michaellnorth"><%= __('page_design')%></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.freepik.com/free-vector/popular-social-networking-icons_1035632.htm"><%= __('icons_credits')%></a></li>
                    <li><a class="grey-text text-lighten-3" href='https://fr.freepik.com/vecteurs-libre/vector-social-media-marketing-icone_1080503.htm'><%= __('icons_credits')%></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2021 GUILLAUME BERTRAND ET CONSULTANTS
            <a class="grey-text text-lighten-4 right" href="https://cv.bertrandguillaume.fr/CV/<%= __('cv_link')%>"><%= __('cv')%></a>
        </div>
    </div>
</footer>
</body>
</html>