<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= __('page_title')%></title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</head>
<body>
<nav class="amber accent-4">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><%= __('projects')%></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="http://bertrandguillaume.fr"><%= __('services')%></a></li>
            <li><a href="http://92.222.86.67/CV/<%= __('cv_link')%>"><%= __('cv')%></a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row center">
        <p class="flow-text blue lighten-4 center"><%= __('page_description')%></p>
    </div>
    <div class="row">
        <div class="col s12 cards-container">
            <div class="card grey darken-3">
                <div class="card-image">
                    <img src="./img/market_cryptoapp3.jpg">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('crypto_invest_app_website.title')%></span>
                    <p><%= __('crypto_invest_app_website.description')%></p>
                </div>
                <div class="card-action">
                    <a href="http://cryptoinvestapp.com/"><%= __('crypto_invest_app_website.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div class="card-content white-text">
                    <div class="card-image">
                        <img src="./img/raspberrypi3.jpg">
                    </div>
                    <span class="card-title"><%= __('raspberry_pi_game.title')%></span>
                    <p><%= __('raspberry_pi_game.description')%></p>
                </div>
                <div class="card-action">
                    <a href="#"><%= __('raspberry_pi_game.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div class="card-content white-text">
                    <span class="card-title"><%= __('laravel_web_application.title')%></span>
                    <p><%= __('laravel_web_application.description')%></p>
                </div>
                <div class="card-action">
                    <a href="#"><%= __('laravel_web_application.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div class="card-image">
                    <img src="./img/ticket-to-ride2.jpeg">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('ticket_to_ride.title')%></span>
                    <p><%= __('ticket_to_ride.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://github.com/fubrasp/aventuriers-du-rail-autour-du-monde-bertrand-bouchebti-hermal-muller"><%= __('ticket_to_ride.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div class="card-content white-text">
                    <div class="card-image">
                        <img src="./img/twitterbot2.png">
                    </div>
                    <span class="card-title"><%= __('twitter_crypto_bot.title')%></span>
                    <p><%= __('twitter_crypto_bot.description')%></p>
                </div>
                <div class="card-action">
                    <a href="#"><%= __('twitter_crypto_bot.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div class="card-image">
                    <img src="./img/course2.gif">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('crypto_monitor.title')%></span>
                    <p><%= __('crypto_monitor.description')%></p>
                </div>
                <div class="card-action">
                    <a href="#"><%= __('crypto_monitor.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div class="card-image">
                    <img src="./img/big-data-chicago.png">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('big_data_project.title')%></span>
                    <p><%= __('big_data_project.description')%></p>
                </div>
                <div class="card-action">
                    <a href="http://92.222.86.67/q1.html"><%= __('big_data_project.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div class="card-image">
                    <img src="./img/afficheur.jpeg">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('facebook_counter.title')%></span>
                    <p><%= __('facebook_counter.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://www.youtube.com/watch?v=4rrdQVMGeQE"><%= __('facebook_counter.title')%></a>
                </div>
            </div>
            <div class="card grey darken-3">
                <div class="card-image">
                    <img src="./img/afficheur.jpeg">
                </div>
                <div class="card-content white-text">
                    <span class="card-title"><%= __('instagram_counter.title')%></span>
                    <p><%= __('instagram_counter.description')%></p>
                </div>
                <div class="card-action">
                    <a href="https://www.youtube.com/watch?v=4rrdQVMGeQE"><%= __('instagram_counter.title')%></a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer amber accent-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text"><%= __('about_me')%></h5>
                <p class="grey-text text-lighten-4"><%= __('contact_sentence')%></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text"><%= __('links')%></h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://bertrandguillaume.fr"><%= __('services')%></a></li>
                    <li><a class="grey-text text-lighten-3" href="http://blog.bertrandguillaume.fr"><%= __('blog')%></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://twitter.com/michaellnorth"><%= __('page_design')%></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 GUILLAUME BERTRAND ET CONSULTANTS
            <a class="grey-text text-lighten-4 right" href="http://92.222.86.67/CV/<%= __('cv_link')%>"><%= __('cv')%></a>
        </div>
    </div>
</footer>
</body>
</html>